@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.club__news-link {
  @include wh-100;
}

.club__news-item {
  height: 25rem;
  position: relative;
  overflow: hidden;

  border: 0.2rem solid $grey;
  border-radius: 0.6rem;

  box-shadow: 0 0.4rem 1.2rem -0.5rem rgba($black, 0.3);

  transition: all 0.2s linear;

  &:hover .club__news-img {
    transform: scale(1.1);

    transition: all 2s linear;
  }

  &:hover .club__news-info {
    height: 6rem;

    transition: all 0.2s linear;
  }

  &:hover .club__news-title {
    height: 50%;

    transition: all 0.2s linear;
  }

  &:hover .club__news-subtitle {
    height: 50%;

    transition: all 0.2s linear;
  }
}

.club__news-img {
  position: relative;
  @include flex;
  @include wh($width: 100%, $height: 24rem);
  object-fit: cover;

  transition: all 2s linear;
}

.club__news-info {
  @include position($position: absolute, $bottom: 0);
  @include wh($width: 100%, $height: 3.5rem);
  padding: 0.4rem 0.8rem;

  color: $black;
  background-color: $grey;

  transition: all 0.2s linear;
}

.club__news-title {
  @include flex-center;
  @include wh($width: 100%, $height: 80%);
  margin: 0.5rem 0;

  font-size: 14px;

  transition: all 0.2s linear;
}

.club__news-subtitle {
  @include flex($justify: space-between, $align: center);

  height: 30%;

  transition: all 0.2s linear;
}

.club__news-date {
  @include flex($justify: flex-end);

  height: 100%;
}

.club__news-category {
  @include flex($justify: flex-start);

  height: 100%;
}
