@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.main__news-item {
  @include position($position: relative);
  @include wh($width: 33.33333%, $height: 100%);

  transition: all 0.4s;
  overflow: hidden;

  &.active {
    width: 100%;
    transition: all 0.4s;
  }

  &:hover .main__news-img {
    filter: brightness(80%);
    transition: all 0.4s;
  }

  &:hover .main__news-info {
    height: 11rem;
    transition: all 0.4s;
  }

  &:hover .main__news-title {
    height: 50%;
    padding-bottom: 0.5rem;
    align-items: flex-start;
    transition: all 0.4s;
  }

  &:hover .main__news-subtitle {
    height: 50%;
    max-height: 5.04rem;
    opacity: 1;
    transform: translateY(0);
    align-items: flex-start;
    transition: all 0.4s;
  }
}

.main__news-img {
  @include position($position: relative);
  @include flex;
  @include wh-100;
  filter: brightness(100%);
  object-fit: cover;
  transition: all 0.4s;
}

.main__news-info {
  @include position($position: absolute, $bottom: 0);
  @include wh($width: 100%, $height: 6rem);

  font-family: $font-primary;
  color: $white;
  background: linear-gradient(180deg, rgba(8, 14, 31, 0.4), rgba(8, 14, 31, 0) 0%, #080e1f 100%, #080e1f);
  padding: 1rem 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: all 0.4s;
}

.main__news-title {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 600;

  display: block;
  overflow: hidden;

  max-height: 7.84rem;

  transition: all 0.4s;
}

.main__news-subtitle {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;

  font-size: 1.8rem;
  line-height: 1.4;

  display: block;
  overflow: hidden;
  max-height: 0;

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s;
}

@media (hover: none) and (pointer: coarse) {
  .main__news-item {
    width: 100% !important;

    transition: none;

    &.active {
      width: 100%;
    }

    &:hover {
      all: unset;
    }
  }

  .main__news-img {
    filter: brightness(90%);
  }

  .main__news-info {
    height: auto;
    padding: 2rem;
  }

  .main__news-title {
    height: auto;
    max-height: none;
    font-size: 2.2rem;
    text-align: left;
  }

  .main__news-subtitle {
    height: auto;
    max-height: none;
    opacity: 1;
    transform: none;
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}
