@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.main__news-item {
  @include position($position: relative);
  @include wh($width: 33.33333%, $height: 100%);

  transition: all 0.4s;

  &.active {
    width: 100%;
    transition: all 0.4s;
  }

  &:hover .main__news-img {
    filter: brightness(80%);
    transition: all 0.4s;
  }

  &:hover .main__news-info {
    height: 11rem;
    transition: all 0.4s;
  }

  &:hover .main__news-title {
    height: 50%;
    transition: all 0.4s;
  }

  &:hover .main__news-subtitle {
    height: 50%;
    transition: all 0.4s;
  }
}

.main__news-img {
  @include position($position: relative);
  @include flex;
  @include wh-100;
  filter: brightness(100%);

  transition: all 0.4s;
}

.main__news-info {
  @include position($position: absolute, $bottom: 0);
  @include wh($width: 100%, $height: 6rem);

  font-family: $font-primary;
  color: $white;

  background: linear-gradient(180deg, rgba(8, 14, 31, 0.4), rgba(8, 14, 31, 0) 0%, #080e1f 100%, #080e1f);

  transition: all 0.4s;
}

.main__news-title {
  @include flex-center;
  @include wh-100;

  padding: 1rem 0 0;

  font-size: 2.8rem;
  line-height: 1;
  font-weight: 600;

  transition: all 0.4s;
}

.main__news-subtitle {
  width: 100%;
  height: 0;
  padding: 1rem 2rem 0;

  font-size: 1.5rem;
  line-height: 1.01;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: all 0.4s;
}
