@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.match__item {
  padding: 1rem 1.4rem;

  border-radius: 0.5rem;
  border-bottom: 0.1rem solid hsla(0, 0, 0, 0.252);
  transition: all 0.1s ease;
  &:hover {
    box-shadow: 0 0.2rem 0.5rem 0.2rem rgba($black, 0.25);

    transition: all 0.1s ease;
  }

  .match-item__link {
    @include wh-100;
    @include flex-between;

    .match-date__container {
      position: relative;
      @include flex-center($gap: 0.4rem);
      flex-direction: row;
      @include wh($min-width: 14rem, $height: 5rem);
      padding: 0.4rem 1rem;

      font-family: $font-accent;
      font-size: 1.6rem;
      font-weight: 600;
      color: $blue;
      line-height: 1;
      text-transform: uppercase;

      .match-weekday,
      .match-date,
      .match-month {
        width: 4rem;
        text-align: center;
        margin: 0;
      }

      .match-date {
        width: 2.2rem;
        font-size: 1.6rem;
        font-weight: 700;
      }

      &::after {
        @include right-streak;
      }
    }

    .match__competition {
      position: relative;
      @include flex-center;
      @include wh($min-width: 17rem, $height: 5rem);

      .match-competition__img {
        @include wh($max-width: 11rem, $max-height: 4rem);
      }

      &::after {
        @include right-streak;
      }
    }

    .match-stage__container {
      position: relative;
      @include grid($align: center, $justify: flex-start, $gap: 0.5rem);
      @include wh($width: 20rem, $height: 5rem);
      padding: 0.4rem 1rem;

      font-family: $font-accent;
      font-weight: 400;
      color: $blue;
      line-height: 1;

      .match__stage {
        font-size: 1.4rem;
      }
      .match__stadium {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
      }

      &::after {
        @include right-streak;
      }
    }

    .match__info {
      @include flex-center($gap: 2rem);
      flex-grow: 1;
      @include wh($width: 40%, $height: 5rem);

      .match-info__team {
        @include flex($align: center);

        gap: 1.2rem;
        min-width: 22rem;

        font-family: $font-accent;
        font-weight: 600;
        color: $blue;
        line-height: 1;

        .team__title {
          font-size: 1.6rem;
        }

        .team-img__container {
          @include flex-center;
          @include square($max-size: 5rem);
        }
        .team__img {
          @include square($max-size: 4rem);
        }

        &--end {
          justify-content: end;
        }
      }

      .score__container {
        @include position($position: relative);
        @include flex($justify: center, $align: center, $gap: 0.8rem);
        width: 9rem;
        padding: 0.4rem;

        background-color: $blue;
        font-family: $score;
        line-height: 2.8rem;
        color: $white;

        .team__score {
          font-size: 2.8rem;
        }
        .score__dash {
          font-size: 3.2rem;
        }
        .score__aggregate {
          @include position($position: absolute, $left: 40%, $bottom: -1.4rem, $transform: translateX(-40%));
          width: fit-content;
          white-space: nowrap;
          font-size: 1.2rem;
          color: $dark-grey;
          line-height: 1;
        }
      }
    }
  }
}
