@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.playoff-match {
  padding: 0.6rem 0;
  width: 100%;
  border: 0.1rem solid $blue;

  .match__header {
    @include flex($justify: space-between, $align: center);

    .team__container {
      @include grid($justify: center, $gap: 0.6rem);
      width: 11.6rem;

      .team__logo {
        @include square($max-size: 4rem);
      }
    }
    .match-score__container {
      text-align: center;
      width: 4.8rem;

      .match__score {
        margin-bottom: -0.8rem;

        .score__value {
          font-size: 1.8rem;
          font-weight: 600;
          color: $blue;
          line-height: 1;
          letter-spacing: -0.06em;
        }
        .extratime__value {
          margin-top: -0.2rem;

          font-size: 1.4rem;
          font-weight: 400;
          color: $dark-grey;
          line-height: 1;
          letter-spacing: -0.06em;
        }
      }
    }
  }

  .match__container {
    margin-top: 0.4rem;
    padding-top: 0.4rem;
    border-top: 0.1rem solid $blue;
    .match__item {
      @include flex($justify: space-between, $align: center);

      .team {
        @include flex-center;

        width: 11.6rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: $blue;
        line-height: 1;
        letter-spacing: -0.02em;
      }

      .score {
        text-align: center;
        width: 4.8rem;

        font-size: 2rem;
        font-weight: 600;
        color: $blue;
        line-height: 1;
      }
    }
  }
}
