@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  padding: 50px 0;

  font-size: 32px;
  color: #fff;

  background-color: $dark-blue-black;
  h1 {
    font-size: 32px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
}

.footer__copyright {
  padding: 10px 0;
  font-size: 16px;
}
