@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  @include position($position: fixed, $left: 0, $top: 0, $z-index: 1000);
  @include flex-center;
  @include wh($width: 100%, $height: 6.5rem);
  background-color: $dark-blue-black;

  & .container {
    @include flex;
    width: $container-width;

    padding-bottom: 1rem;
  }

  &::after {
    @include position($position: absolute, $left: 0, $bottom: 0);
    @include wh($width: 100%, $height: 1rem);
    content: "";
    background-image: $pomegranate-blue-gradient;
  }
}

.header__logo {
  @include flex-center;
  flex-shrink: 0;
  cursor: pointer;

  transition: all 0.1s ease;

  &:hover {
    transform: scale(1.05);

    transition: all 0.1s ease;
  }

  & img {
    @include wh($width: 5rem, $height: 5rem);
  }
}

.nav {
  @include flex-center($gap: 2.4rem);

  width: 100%;
}

.nav__link {
  display: flex;

  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  color: hsla(0, 0%, 100%, 1);
  text-decoration: none;

  @include underline-animation($yellow);
  transition: all 0.2s ease;

  &:hover {
    color: hsl(0, 0%, 91%);
    background-size: 100% 0.2rem;
    transition: all 0.2s ease;
  }

  &.active {
    color: $yellow;
    background-size: 0% 0.2rem;
    transition: all 0.3s ease;
    animation: gradientShrink 0.2s ease forwards;
  }

  @keyframes gradientShrink {
    0% {
      background-size: 100% 0.2rem;
      background-position: 0% 100%;
    }
    50% {
      background-size: 60% 0.2rem;
      background-position: 50% 100%;
    }
    100% {
      background-size: 0% 0.2rem;
      background-position: 50% 80%;
      background-image: linear-gradient($yellow, $yellow);
    }
  }
}

.profile {
  @include flex($justify: flex-end, $align: center);
  text-align: center;
  white-space: nowrap;
  gap: 2rem;

  & .nav__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
  }
}
