.matches {
  min-height: 100vh;

  .container {
    margin: 50px auto;
    width: 80vw;

    border-radius: 10px;
    background-color: #fff;
  }
  .btn__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 16px 0 0;

    .matches__btn {
      padding: 6px 14px;

      background-color: transparent;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      font-family: "Inter", serif;
      font-weight: 600;
      font-size: 20px;
      color: #0018b4;

      transition: all 0.1s ease;

      &:hover {
        color: #fff;
        background-color: #0018b4;

        transition: all 0.1s ease;
      }
    }
  }
  .match__list {
    display: grid;
    gap: 24px;
    padding: 20px 30px;

    .match__group {
      position: relative;
      padding: 0 0 28px;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(
          270deg,
          #9b0041 0,
          #9b0041 49%,
          #0018b4 51%,
          #0018b4
        );
      }

      .match-list__month {
        margin-bottom: 10px;

        font-family: "Inter", serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 1;
        color: #202020;
      }
    }
  }
}
