@import "../abstracts/variables";
@import "../abstracts/mixins";

.matches {
  min-height: 100vh;

  .container {
    display: block;
    margin: 50px auto;
    width: $container-width;

    border-radius: 10px;
    background-color: $white;
  }
  .btn__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 16px 0 0;

    .matches__btn {
      padding: 6px 14px;

      background-color: transparent;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      font-family: $font-accent;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: $dark-blue;
      letter-spacing: -0.01em;

      transition: all 0.2s ease;

      &:hover {
        color: $white;
        background-color: $dark-blue;

        transition: all 0.2s ease;
      }
    }
  }

  .match__list {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 20px 30px;

    .match__group {
      position: relative;
      padding: 0 0 28px;

      &::after {
        @include position($position: absolute, $left: 0, $bottom: 0);
        content: "";
        width: 100%;
        height: 4px;
        background-image: $pomegranate-blue-gradient;
      }

      .match-list__month {
        margin-bottom: 10px;

        font-family: $font-accent;
        font-weight: 600;
        font-size: 22px;
        line-height: 1;
        color: $black;
      }
    }
  }
}
