@import "../abstracts/variables";
@import "../abstracts/mixins";

.match__page {
  .container {
    color: $white;
    margin: 0 auto;
    width: 70vw;

    .match__wrapper {
      position: relative;
      @include flex-center;
      @include wh($width: 100%, $height: 50rem);

      .match-wrapper__background {
        @include position($position: absolute, $top: 0, $left: 0, $z-index: 1);
        @include wh-100;
        object-fit: cover;
      }

      &::after {
        content: "";
        @include position($position: absolute, $top: 0, $left: 0, $z-index: 2);
        @include wh-100;
        background-image: linear-gradient(
          180deg,
          rgba(217, 217, 217, 0) 75%,
          rgba(217, 217, 217, 0.2) 90%,
          rgba(233, 233, 233, 0.8) 100%
        );
        background-color: rgba(0, 1, 26, 0.6);
      }

      .match__item {
        @include position($position: relative, $z-index: 3);
        @include flex-between;
        width: 90%;
        padding: 2.5rem 3.5rem;

        border: 0.2rem solid $white;
        border-radius: 1.5rem;

        .match-team__container {
          @include flex($justify: center, $align: flex-start, $gap: 1.5rem);

          .team-img__container {
            @include grid($justify: center, $align: center);
            text-align: center;
            margin: auto 0;

            .team__logo {
              margin: 0 auto;
              @include square($max-size: 12rem);
            }

            .team__title {
              font-family: $font-accent;
              font-size: 2.4rem;
              font-weight: 600;
            }
          }

          .team-info__list {
            @include grid($gap: 0.4rem);
            min-width: 20rem;
            height: fit-content;

            .team-info-list__item {
              @include flex($gap: 0.8rem);
              white-space: nowrap;

              .action__container {
                @include flex($align: center, $gap: 0.2rem);

                .action__img {
                  @include square($max-size: 1.6rem);
                }

                .action__minute {
                  color: $white;
                  font-size: 1.6rem;
                }

                .action__player {
                  text-align: right;
                  font-size: 1.8rem;
                }
              }
            }
          }
        }

        .match__info {
          @include grid-center($gap: 1.4rem);
          text-align: center;
          height: 100%;

          line-height: 1;
          color: $white;

          .match-info__stage {
            font-size: 1.6rem;
          }
          .match-info__competition {
            margin: 1rem auto;
            @include wh($max-width: 12rem, $max-height: 4rem);
          }

          .white-logo {
            filter: brightness(0) invert(1);
          }

          .match-score__container {
            @include flex-center($gap: 0.6rem);
            line-height: 1;

            .team__score {
              font-family: $score;
              font-size: 3.3rem;
            }
            .score__dash {
              font-size: 3.8rem;
            }
          }
          .match-info__stadium {
            font-size: 1.6rem;
          }
        }
      }
    }

    .match-info__container {
      min-height: 100vh;

      border-radius: 0 0 0.8rem 0.8rem;
      background-color: $white;
      color: $black;

      .match-info__title {
        padding: 2rem 0;
        text-align: center;

        font-family: $font-accent;
        font-size: 2.8rem;
        line-height: 1;
        color: $black;
      }

      .lineup__container {
        display: flex;
        width: 100%;
        padding: 1rem;

        .lineup__wrapper {
          padding: 0 2rem;
          width: 50%;

          line-height: 1;
          color: $white;

          .lineup__title {
            text-align: center;
            padding: 0 0 1rem 0;

            font-family: $font-secondary;
            font-weight: 600;
            font-size: 1.8rem;
            color: $black;
          }

          .lineup__list {
            padding: 1.5rem;

            border-radius: 0.5rem;
            background-color: $dark-blue-black;

            .lineup__item {
              @include flex-center($gap: 1rem);
              width: 100%;
              padding: 0.6rem 1rem;
              border-bottom: 0.1rem solid $border-grey;

              font-family: $font-secondary;

              .lineup-player__number {
                @include flex-center;

                font-family: $number;
                line-height: 0.64;
                min-width: 3rem;
                font-weight: 400;
                font-size: 4.8rem;
                color: $yellow;
              }
              .lineup-player-img__container {
                @include flex-center;
                @include square($size: 3.2rem);

                overflow: hidden;
                background-color: $purple;
                border-radius: 50%;

                .lineup-player__img {
                  @include square($size: 3rem);
                }
              }
              .luneup-player__info {
                @include grid($gap: 0.5rem);

                .lineup-player__name {
                  font-size: 1.4rem;
                  font-weight: 500;
                }
                .lineup-player__position {
                  font-size: 1rem;
                  font-weight: 400;
                }
              }
              .player-action__list {
                @include flex($justify: flex-end, $align: center, $gap: 0.6rem);
                margin-left: auto;
                gap: 6px;

                .player-action__item {
                  @include grid-center;

                  .player-action__img {
                    margin: 0 auto;
                    max-height: 1.6rem;
                  }
                  .player-action__subtitle {
                    font-size: 1rem;
                    font-weight: 500;
                  }
                }
              }
            }

            .lineup__subtitle {
              padding: 1rem 0 0.5rem 0;

              font-family: $font-secondary;
              font-weight: 600;
              font-size: 1.8rem;
              color: $white;
            }
          }
        }
      }
    }
  }
}
