@import "../abstracts/variables";
@import "../abstracts/mixins";

.news {
  .container {
    margin: 5rem auto;
    width: $container-width;
    padding: $container-padding;

    border-radius: 1rem;
    background-color: $white;

    .news-nav {
      @include flex-center($gap: 1rem);
      padding: 1.6rem 0;

      .nav-btn {
        padding: 0.6rem 1.2rem;

        background-color: transparent;
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;

        font-size: 1.6rem;
        font-weight: 600;
        color: $dark-blue;

        &.active {
          background-color: $dark-blue;
          color: $white;
        }
      }
    }
    .news__container {
      @include grid-center;
      @include template-columns-auto-fit(34.5rem);
      gap: 1.6rem 1.8rem;
    }
  }
}
