@import "../abstracts/variables";

.partners {
  @include flex-center;
  margin: 5rem 0;
  width: 100%;
}

.partners__list {
  @include flex($gap: 10rem);
}

.partners__item {
  @include flex-center;

  opacity: 0.8;
  background-image: linear-gradient($yellow, $yellow);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 0% 0.2rem;

  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
    background-position: bottom;
    background-size: 100% 0.2rem;

    transition: all 0.2s ease;
  }
}

.partners__link {
  @include flex-center;
  padding-bottom: 1.5rem;
}

.partners__img {
  @include wh($max-width: 25rem, $max-height: 5rem);
}

@media (max-width: 1200px) {
  .partners {
    margin: 3.5rem 0;
  }

  .partners__list {
    gap: 3.5rem;
  }
  .partners__img {
    @include wh($max-width: 22rem, $max-height: 4.4rem);
  }
}

@media (max-width: 1024px) {
  .partners__img {
    @include wh($max-width: 11rem, $max-height: 3.2rem);
  }
}

@media (hover: none) and (pointer: coarse) {
  .partners__list {
    gap: 2rem;
  }

  .partners__item {
    margin-bottom: 2rem;
  }
}
