@import "../abstracts/variables";

.partners {
  @include flex-center;
  margin: 5rem 0;
  width: 100%;
}

.partners__list {
  @include flex($gap: 10rem);
}

.partners__item {
  @include flex-center;

  opacity: 0.8;
  background-image: linear-gradient($yellow, $yellow);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 0% 0.2rem;

  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
    background-position: bottom;
    background-size: 100% 0.2rem;

    transition: all 0.2s ease;
  }
}

.partners__link {
  @include flex-center;
  padding-bottom: 1.5rem;
}

.partners__img {
  @include wh($max-width: 25rem, $max-height: 5rem);
}
