.playerPage {
  color: $white;
  padding: 0 0 2.5rem 0;
  min-height: 100vh;

  .player-hero__wrapper {
    position: relative;
    @include flex($justify: center);
    height: 57.8rem;

    .player-hero__surname {
      @include flex-center;
      font-family: $font-secondary;
      @include position($position: absolute, $top: 2rem, $z-index: 1);
      width: 100%;

      font-size: 18vw;
      font-weight: 600;
      line-height: 1.14;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0.05;
    }

    .player-hero__container {
      position: relative;
      @include flex($justify: space-between);
      width: $container-width;

      .player-hero__stats {
        align-content: end;
        width: 55%;
        text-align: center;

        .player-hero-stats__title {
          margin-bottom: 2.5rem;
          font-family: $font-accent;
          font-weight: 700;
          font-size: 2.6rem;
          line-height: 100%;
          letter-spacing: 0.04em;
          color: $white;
        }

        .player-hero-stats__list {
          @include flex($justify: center, $gap: 2.5rem);

          margin-bottom: 1rem;

          li {
            @include grid-center;
            font-family: $font-accent;
          }

          .player-hero-stats__item {
            @include grid($gap: 0.6rem);
            min-width: 14rem;

            .player-hero-stats-item__title {
              font-weight: 500;
              font-size: 2.2rem;
              line-height: 100%;
              color: $white;
            }
            .player-hero-stats-item__value {
              font-weight: 600;
              font-size: 7rem;
              line-height: 100%;
              color: $yellow;
            }
          }
          .player-hero-current-stats__item {
            min-width: 14rem;

            .player-hero-stats-item-current__title {
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 100%;
              color: $white;
              letter-spacing: -0.01em;
            }
            .player-hero-stats-item-current__value {
              font-weight: 600;
              font-size: 4rem;
              line-height: 125%;
              color: $yellow;
            }
          }
        }
      }
    }

    .player-hero-img__container {
      position: relative;
      @include wh($width: 49rem, $height: 57.8rem);

      & img {
        @include position($position: absolute, $z-index: 2);
        width: 49rem;
      }

      .player-hero-info__block {
        position: absolute;
        bottom: 0;
        display: grid;
        gap: 15px;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 0 30px 0;
        z-index: 3;

        background-color: hsla(0, 0%, 0%, 0.6);

        .player-hero-info__position {
          font-family: "Libre Franklin ", sans-serif;
          font-weight: 700;
          font-size: 21px;
          line-height: 100%;
          color: #fff;
        }
        .player-hero-info__data {
          display: flex;

          align-items: baseline;
          gap: 5px;

          font-family: "Libre Franklin", sans-serif;
          font-weight: 700;
          line-height: 1;
          color: #fff;

          .player-hero-info__number {
            font-size: 40px;
          }
          .player-hero-info__name {
            font-size: 25px;
          }
          .player-hero-info__surname {
            font-size: 35px;
          }
        }
      }
    }
  }

  .container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    width: $container-width;
    min-height: 500px;
    background-color: #fff;
    border-radius: 5px;

    .player-card__content {
      @include flex($justify: center, $align: flex-start);
      margin-bottom: 40px;
      width: 100%;
      color: $black;

      .player-card__wrapper {
        padding: 38px 80px;
        width: 40%;
        background: linear-gradient(90deg, rgb(25, 46, 167) 50%, rgb(184, 16, 27) 50%);

        .player-card__img {
          display: flex;
          width: 100%;
          max-height: 270px;
          margin-bottom: 30px;
        }

        .player-card-img__info {
          display: flex;
          justify-content: center;
          gap: 10px;

          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 36px;
          line-height: 100%;
          color: #fff;
        }
      }

      .player-card__info {
        @include grid($display: grid, $gap: 4rem);
        padding: 0 5rem;
        width: 60%;

        font-family: $font-secondary;
        color: $black;
        font-weight: 400;
        line-height: 1;

        .player-card-info__title {
          font-size: 34px;
        }
        .player-card-info__subtitle {
          font-size: 18px;
        }
        .player-card-allTime__list {
          display: flex;
          gap: 18px;

          .player-card-allTime__item {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 6px;

            font-family: "Arial Narrow";
            line-height: 1;
            color: #294787;

            p {
              font-weight: 400;
              font-size: 20px;
              letter-spacing: -0.02em;
              color: #18191b;
            }

            span {
              font-weight: 700;
              font-size: 36px;
            }
          }
        }
        .player-card-btn {
          @include flex-center($gap: 0.6rem);

          padding: 15px 10px;
          max-width: 160px;

          font-size: 15px;
          line-height: 1;
          background-color: $pomegranate;
          border-radius: 5px;
          border: none;
          color: $white;
          cursor: pointer;

          transition: all 0.1s ease;

          & svg {
            stroke: $white;
            fill: $white;

            transition: all 0.1s ease;
          }

          &:hover {
            background-color: #0f2d7e;
            color: #fdc52c;

            transition: all 0.1s ease;
            & svg {
              stroke: #fdc52c;
              fill: #fdc52c;

              transition: all 0.1s ease;
            }
          }
        }
      }
    }

    .player-card__details {
      margin: 0 80px 30px;
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
      border-top: 1px solid hsla(0, 0%, 0%, 0.3);

      .player-card-details__list {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .player-card-details__item {
          display: grid;
          gap: 8px;
          line-height: 100%;

          .player-card-details__title {
            font-family: "Inter", serif;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: #294787;
          }
          .player-card-details__text {
            font-family: "Abel", serif;
            font-weight: 400;
            font-size: 24px;
            color: #202020;
          }
        }
      }
    }

    .player-card__trophy {
      position: relative;
      margin: 0 80px;
      padding: 40px 0 0;

      .player-card-trophy-btn__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        gap: 10px;

        .player-card-trophy__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
          border: none;
          border-radius: 50%;
          background-color: #aeaeae;

          transition: all 0.1s ease;

          &:hover {
            background-color: #d7d7d7;

            transition: all 0.1s ease;
          }
        }
      }

      .player-card-trophy__list {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        gap: 10px;
        overflow: hidden;

        .player-card-trophy__item {
          flex: 0 0 265px;
          display: grid;
          gap: 4px;
          padding: 12px 20px;
          height: 190px;
          background: url("../../../public/img/playerTitleBackground.png");
          background-repeat: no-repeat;
          background-size: cover;

          font-family: "Inter", serif;
          color: #fff;
          line-height: 100%;

          .player-card-trophy__team {
            font-weight: 900;
            font-size: 14px;
          }

          .player-card-trophy__competition {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
          }

          .player-card-trophy__wrapper {
            // @include flex-start-center;
            @include flex($justify: flex-start, $align: center);
            gap: 8px;
            max-height: 65px;
            max-width: 100px;

            .player-card-trophy__quantity {
              font-weight: 400;
              font-size: 55px;
              line-height: 1;
              color: $yellow;
            }

            img {
              display: block;
              max-width: 55px;
              max-height: 65px;
            }
          }
          .player-card-trophy-season__list {
            @include flex($justify: flex-start, $align: flex-start);
            flex-wrap: wrap;
            width: 100%;
            height: 28px;
            gap: 4px 8px;

            .player-card-trophy-season__item {
              font-size: 12px;
              line-height: 1;

              .player-card-trophy-season__value {
                font-weight: 700;
                font-size: 12px;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
  .full-bio__overlay {
    @include flex-center;
    @include position($position: fixed, $left: 0, $top: 0, $z-index: 9);
    @include wh-100;
    background-color: rgba(0, 0, 0, 0.6);

    transition: all 0.9s ease;

    .full-bio__wrapper {
      @include position($position: relative, $top: 30px, $right: 0);
      @include wh($width: 700px, $height: 700px);
      display: flex;
      flex-direction: column;

      background-color: $white;
      color: $black;
      border-radius: 8px;
      z-index: 10;

      .full-bio__btn {
        @include position($position: absolute, $left: -13px, $top: -13px, $z-index: 11);
        @include flex-center;
        @include wh($width: 26px, $height: 26px);
        border-radius: 50%;
        border: none;
        background-color: $grey;
        cursor: pointer;
      }

      .full-bio__content {
        display: grid;
        gap: 25px;
        padding: 20px 30px;
        overflow-y: auto;
        font-family: $font-accent;
        line-height: 1;

        .full-bio__title {
          text-align: center;
          font-weight: 600;
          font-size: 32px;
          color: $black;
        }

        .full-bio__paragraph {
          font-weight: 400;
          font-size: 16px;
          color: $black;
        }
      }
    }
  }
}
