.playerPage {
  display: block;
  color: #fff;
  padding: 0 0 25px 0;
  min-height: 100vh;

  .player-hero__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 578px;

    .player-hero__surname {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Libre Franklin", sans-serif;
      position: absolute;
      z-index: 1;
      top: 20px;
      width: 100%;

      font-size: 18vw;
      font-weight: 600;
      line-height: 1;

      white-space: nowrap;
      overflow: hidden;
      opacity: 0.1;
      text-transform: uppercase;
    }

    .player-hero__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 70%;

      .player-hero__stats {
        align-content: end;
        margin-bottom: 28px;
        width: 55%;
        text-align: center;

        .player-hero-stats__title {
          margin-bottom: 25px;
          font-family: "Arial Narrow";
          font-weight: 700;
          font-size: 26px;
          line-height: 100%;
          letter-spacing: 0.04em;
          color: #fff;
        }

        .player-hero-stats__list {
          display: flex;
          justify-content: center;
          gap: 25px;
          margin-bottom: 10px;

          li {
            display: grid;
            justify-content: center;
            align-items: center;
            font-family: "Libre Franklin", sans-serif;
          }

          .player-hero-stats__item {
            display: grid;
            gap: 6px;
            min-width: 140px;

            .player-hero-stats-item__title {
              font-weight: 500;
              font-size: 22px;
              line-height: 100%;
              color: #fff;
            }
            .player-hero-stats-item__value {
              font-weight: 600;
              font-size: 70px;
              line-height: 100%;
              color: #edc831;
            }
          }
          .player-hero-current-stats__item {
            min-width: 140px;

            .player-hero-stats-item-current__title {
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #fff;
              letter-spacing: -0.01em;
            }
            .player-hero-stats-item-current__value {
              font-weight: 600;
              font-size: 40px;
              line-height: 125%;
              color: #edc831;
            }
          }
        }
      }
    }

    .player-hero-img__container {
      position: relative;
      height: 578px;
      width: 490px;

      & img {
        position: absolute;
        z-index: 2;
        width: 490px;
      }

      .player-hero-info__block {
        position: absolute;
        bottom: 0;
        display: grid;
        gap: 15px;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 0 30px 0;
        z-index: 3;

        background-color: hsla(0, 0%, 0%, 0.6);

        .player-hero-info__position {
          font-family: "Libre Franklin ", sans-serif;
          font-weight: 700;
          font-size: 21px;
          line-height: 100%;
          color: #fff;
        }
        .player-hero-info__data {
          display: flex;

          align-items: baseline;
          gap: 5px;

          font-family: "Libre Franklin", sans-serif;
          font-weight: 700;
          line-height: 1;
          color: #fff;

          .player-hero-info__number {
            font-size: 40px;
          }
          .player-hero-info__name {
            font-size: 25px;
          }
          .player-hero-info__surname {
            font-size: 35px;
          }
        }
      }
    }
  }

  .container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    width: 70%;
    min-height: 500px;
    background-color: #fff;
    border-radius: 5px;

    .player-card__content {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      width: 100%;
      color: #000;

      .player-card__wrapper {
        padding: 38px 80px;
        width: 50%;
        background: linear-gradient(
          90deg,
          rgb(25, 46, 167) 50%,
          rgb(184, 16, 27) 50%
        );

        .player-card__img {
          display: flex;
          width: 100%;
          max-height: 270px;
          margin-bottom: 30px;
        }

        .player-card-img__info {
          display: flex;
          justify-content: center;
          gap: 10px;

          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 36px;
          line-height: 100%;
          color: #fff;
        }
      }

      .player-card__info {
        display: grid;
        gap: 45px;
        padding: 0 50px;
        width: 50%;

        color: #18191b;
        font-weight: 400;
        line-height: 1;

        .player-card-info__title {
          font-family: "Abel", serif;
          font-size: 34px;
        }
        .player-card-info__subtitle {
          font-family: "Libre Franklin", serif;
          font-size: 18px;
        }
        .player-card-allTime__list {
          display: flex;
          gap: 18px;

          .player-card-allTime__item {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 6px;

            font-family: "Arial Narrow";
            line-height: 1;
            color: #294787;

            p {
              font-weight: 400;
              font-size: 20px;
              letter-spacing: -0.02em;
              color: #18191b;
            }

            span {
              font-weight: 700;
              font-size: 36px;
            }
          }
        }
        .player-card-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          padding: 15px 10px;
          max-width: 160px;

          font-size: 15px;
          line-height: 1;
          background-color: #bc1144;
          border-radius: 5px;
          border: none;
          color: #fff;
          cursor: pointer;

          transition: all 0.1s ease;

          & svg {
            stroke: #ffffff;
            fill: #ffffff;

            transition: all 0.1s ease;
          }

          &:hover {
            background-color: #0f2d7e;
            color: #fdc52c;

            transition: all 0.1s ease;
            & svg {
              stroke: #fdc52c;
              fill: #fdc52c;

              transition: all 0.1s ease;
            }
          }
        }
      }
    }

    .player-card__details {
      margin: 0 80px 30px;
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
      border-top: 1px solid hsla(0, 0%, 0%, 0.3);

      .player-card-details__list {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .player-card-details__item {
          display: grid;
          gap: 8px;
          line-height: 100%;

          .player-card-details__title {
            font-family: "Inter", serif;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: #294787;
          }
          .player-card-details__text {
            font-family: "Abel", serif;
            font-weight: 400;
            font-size: 24px;
            color: #202020;
          }
        }
      }
    }

    .player-card__trophy {
      position: relative;
      margin: 0 80px;
      padding: 40px 0 0;

      .player-card-trophy-btn__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        gap: 10px;

        .player-card-trophy__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
          border: none;
          border-radius: 50%;
          background-color: #aeaeae;

          transition: all 0.1s ease;

          &:hover {
            background-color: #d7d7d7;

            transition: all 0.1s ease;
          }
        }
      }

      .player-card-trophy__list {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        gap: 10px;
        overflow: hidden;

        .player-card-trophy__item {
          flex: 0 0 265px;
          display: grid;
          gap: 4px;
          padding: 12px 20px;
          height: 190px;
          background: url("../../../public/img/playerTitleBackground.png");
          background-repeat: no-repeat;
          background-size: cover;

          font-family: "Inter", serif;
          color: #fff;
          line-height: 100%;

          .player-card-trophy__team {
            font-weight: 900;
            font-size: 14px;
          }

          .player-card-trophy__competition {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
          }

          .player-card-trophy__wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 8px;
            max-height: 65px;
            max-width: 100px;

            .player-card-trophy__quantity {
              font-weight: 400;
              font-size: 55px;
              line-height: 100%;
              color: #f2e000;
            }

            img {
              display: block;
              max-width: 55px;
              max-height: 65px;
            }
          }
          .player-card-trophy-season__list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
            height: 28px;
            gap: 4px 8px;

            .player-card-trophy-season__item {
              font-size: 12px;
              line-height: 1;

              .player-card-trophy-season__value {
                font-weight: 700;
                font-size: 12px;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
  .full-bio__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.9s ease;

    .full-bio__wrapper {
      position: relative;
      height: 700px;
      width: 700px;
      top: 30px;
      right: 0;
      background-color: #ffffff;
      color: #000;
      border-radius: 8px;
      z-index: 10;
      display: flex;
      flex-direction: column;

      .full-bio__btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -13px;
        left: -13px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: none;
        background-color: hsl(0, 0%, 93%);
        cursor: pointer;
        z-index: 11;
      }

      .full-bio__content {
        display: grid;
        gap: 25px;
        padding: 20px 30px;
        overflow-y: auto;
        font-family: "Inter", serif;
        line-height: 1;

        .full-bio__title {
          text-align: center;
          font-weight: 600;
          font-size: 32px;
          color: #18191b;
        }
        // .full-bio__item {
        // }

        .full-bio__paragraph {
          font-weight: 400;
          font-size: 16px;
          color: #2a293e;
        }
      }
    }
  }
}
