.playerPage {
  display: block;
  background-color: #080f3e;
  color: #fff;
  // padding: 20px 0 20px 0;
  min-height: 100vh;

  .player-hero__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 578px;

    .player-hero__surname {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Libre Franklin", sans-serif;
      position: absolute;
      z-index: 1;
      top: 20px;
      width: 100%;

      font-size: 18vw;
      font-weight: 600;
      line-height: 1;

      white-space: nowrap;
      overflow: hidden;
      opacity: 0.1;
      text-transform: uppercase;
    }

    .player-hero__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 70%;

      .player-hero__stats {
        align-content: end;
        margin-bottom: 40px;
        width: 50%;
        text-align: center;

        .player-hero-stats__title {
          margin-bottom: 20px;
          font-family: Arial, Helvetica, Narrow-bold;
          font-weight: narrow-bold;
          font-size: 26px;
          line-height: 100%;
          letter-spacing: 0.04em;
          color: #fff;
        }

        .player-hero-stats__list {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          .player-hero-stats__item {
            .player-hero-stats-item__barca {
              display: grid;
              gap: 9px;
              margin-bottom: 22px;

              .player-hero-stats-item-barca__title {
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-size: 22px;
                line-height: 100%;
                color: #fff;
              }
              .player-hero-stats-item-barca__value {
                font-family: "Libre Franklin", sans-serif;
                font-weight: 600;
                font-size: 70px;
                line-height: 100%;
                color: #edc831;
              }
            }

            .player-hero-stats-item-current__season {
              .player-hero-stats-item-current__title {
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                color: #fff;
              }
              .player-hero-stats-item-current__value {
                font-family: "Libre Franklin", sans-serif;
                font-weight: 600;
                font-size: 40px;
                line-height: 125%;
                color: #edc831;
              }
            }
          }
        }
      }
    }

    .player-hero-img__container {
      position: relative;
      height: 578px;
      width: 490px;

      & img {
        position: absolute;
        z-index: 2;
        width: 490px;
      }

      .player-hero-info__block {
        position: absolute;
        bottom: 0;
        display: grid;
        gap: 15px;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 0 30px 0;
        z-index: 3;

        background-color: hsla(0, 0%, 0%, 0.6);

        .player-hero-info__position {
          font-family: "Libre Franklin ", sans-serif;
          font-weight: 700;
          font-size: 21px;
          line-height: 100%;
          color: #fff;
        }
        .player-hero-info__data {
          display: flex;

          align-items: baseline;
          gap: 5px;

          font-family: "Libre Franklin", sans-serif;
          font-weight: 700;
          line-height: 1;
          color: #fff;

          .player-hero-info__number {
            font-size: 40px;
          }
          .player-hero-info__name {
            font-size: 25px;
          }
          .player-hero-info__surname {
            font-size: 35px;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    margin: 0 auto;
    width: 70%;
    min-height: 500px;
    background-color: #fff;
    min-height: 100vh;
    border-radius: 5px;

    .player-card__content {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 50px 0;
      color: #000;

      .player-card__wrapper {
        padding: 38px 80px;
        width: 50%;
        background: linear-gradient(
          90deg,
          rgb(25, 46, 167) 50%,
          rgb(184, 16, 27) 50%
        );

        .player-card__img {
          display: flex;
          width: 100%;
          max-height: 270px;
          margin-bottom: 30px;
        }

        .player-card-img__info {
          display: flex;
          justify-content: center;
          gap: 10px;

          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 36px;
          line-height: 100%;
          color: #fff;
        }
      }

      .player-card__info {
        display: grid;
        gap: 60px;
        padding: 40px 50px 0;
        width: 50%;

        color: #18191b;
        font-weight: 400;
        line-height: 1;

        .player-card-info__title {
          font-family: "Abel", serif;
          font-size: 34px;
        }
        .player-card-info__subtitle {
          font-family: "Libre Franklin", serif;
          font-size: 18px;
        }
        .player-card-allTime__list {
          display: flex;
          gap: 18px;

          .player-card-allTime__item {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 6px;

            font-family: "Arial Narrow";
            line-height: 1;
            color: #294787;

            p {
              font-weight: 400;
              font-size: 20px;
              letter-spacing: -0.02em;
              color: #18191b;
            }

            span {
              font-weight: 700;
              font-size: 36px;
            }
          }
        }
        .player-card-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          padding: 15px 10px;
          max-width: 160px;

          line-height: 1;
          background-color: #bc1144;
          border-radius: 5px;
          border: none;
          color: #fff;
          cursor: pointer;

          transition: all 0.1s ease;

          & svg {
            stroke: #ffffff;
            fill: #ffffff;

            transition: all 0.1s ease;
          }

          &:hover {
            background-color: #0f2d7e;
            color: #fdc52c;

            transition: all 0.1s ease;
            & svg {
              stroke: #fdc52c;
              fill: #fdc52c;

              transition: all 0.1s ease;
            }
          }
        }
      }
    }
  }
}
