@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/fonts";

.player {
  position: relative;
  @include square($size: 42rem);
  box-shadow: 0.2rem 0.2rem 1.2rem 0 rgba(182, 182, 182, 0.15);

  &:hover .player__info {
    @include wh($width: 100%, $height: 19rem);

    transition: all 0.4s ease;
  }

  &:hover .player__name {
    padding-bottom: 0.5rem;
    margin-bottom: 0;

    transform: translateY(-120%);
    transition: all 0.4s ease;
  }

  &:hover .player__stats {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s ease;
  }
}

.player__link {
  display: block;
  @include wh-100;
}

.player__img {
  display: block;
  @include wh-100;
}

.injured__container {
  @include position($position: absolute, $left: 10px, $top: 10px, $z-index: 14);
  @include flex-center;
  padding: 0.1rem;

  background-color: $white;
}
.injured__img {
  pointer-events: all;
}

.player__info {
  @include position($position: absolute, $bottom: 0);
  @include flex-center;
  @include wh($width: 100%, $height: 5rem);

  font-family: $font-secondary;
  color: $white;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(8, 14, 31, 0.4) 0%,
    rgba(8, 14, 31, 0.6) 43%,
    rgba(8, 14, 31, 0.7) 60%,
    rgba(8, 14, 31, 0.9) 85%
  );

  transition: all 0.4s;
}

.player__name {
  @include flex-center;
  margin-bottom: -0.5rem;
  line-height: 1;

  transform: translateY(-3px);
  transition: all 0.4s;
}
.player__number {
  font-family: $number;
  line-height: 0.64;
  font-size: 7rem;
  padding-right: 0.8rem;
  font-weight: 500;
}
.player__surname {
  font-size: 4rem;
}

.player__stats {
  @include position($position: absolute, $bottom: 0, $transform: translateY(110%));
  @include grid-center($gap: 0.5rem);
  text-align: center;
  width: 90%;
  padding: 1rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);

  opacity: 0;
  transition: all 0.4s ease;

  .player-stats__list {
    @include flex($gap: 1.5rem);
    width: 100%;

    .player-stats__item {
      width: 100%;
      font-weight: 500;

      .player-stats__title {
        font-family: $font-accent;
        margin-bottom: 0.2rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
        color: $white;
      }
      .player-stats__value {
        font-family: $number;
        line-height: 0.64;
        font-size: 5.8rem;
        color: $yellow;
      }
      .current__stats {
        text-transform: lowercase;
        font-size: 1.6rem;
        letter-spacing: -0.01em;
        color: $grey;
      }
      .current__value {
        color: $yellow;
        font-size: 3.6rem;
      }
    }
  }
}
