@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/fonts";

.players__nav {
  @include flex-center;
  margin: 4rem 0;
}

.players__nav-item {
  @include flex-center;
  list-style: none;
  margin: 0.5rem 2rem;
  height: 3rem;
}

.nav__btn {
  display: flex;

  font-size: 2rem;
  font-family: $font-secondary;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  background-color: transparent;

  transition: color 0.3s;

  &:hover {
    color: $red;
    transition: color 0.3s;
  }

  &.is-active {
    color: $red;
    border-bottom: 0.2rem solid $yellow;

    transition: color 0.3s;
  }
}

.players__container {
  @include flex-center;
  margin: 0 auto;
  width: $container-width;
  border-radius: 1.5rem;
}

.players {
  width: 100%;
}

.players__group {
  @include grid($justify: flex-start);
  width: 1280px;
  margin: 0 auto;
}

.players__position {
  text-align: center;
  width: 100%;

  margin: 2rem 0;

  font-family: $font-secondary;
  font-size: 2.5rem;
  color: $white;
}

.players__group--flex {
  @include flex($justify: flex-start, $align: flex-start, $wrap: wrap, $gap: 0.7rem 1rem);
  width: 1280px;
}
