.schedule {
  min-height: 100vh;
  //   background-color: antiquewhite;

  .schedule__title {
    text-align: center;
    color: #fff;
  }
  //   .container {
  //   }
  //   .btn__wrapper {
  //   }
  //   .matches__btn {
  //   }
}
