.social {
  display: flex;
  justify-content: center;

  margin: 50px 0;
}
// container
.social__link-list {
  display: flex;

  gap: 10px;
}
.social__link-item {
  width: 140px;
  height: 100px;

  transition: all 0.2s ease;

  &:hover .social__link {
    width: 140px;
    height: 100px;
    border: 3px solid #fff;

    transition: all 0.2s ease;
  }
  &#facebook {
    background-color: #0000ee;
  }

  &#x {
    background-color: #55acee;
  }

  &#youtube {
    background-color: #b00;
  }

  &#instagram {
    background: radial-gradient(
        circle farthest-corner at 35% 90%,
        #fec564,
        transparent 50%
      ),
      radial-gradient(
        circle farthest-corner at 0 140%,
        #fec564,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 0 -25%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% -50%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 0,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 60% -20%,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 100%,
        #d9317a,
        transparent
      ),
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d);
  }

  &#tiktok {
    background-color: #000000;
  }

  &#spotify {
    background-color: #1acf5d;
  }
}
.social__link {
  display: block;
  align-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100%;

  border: 3px solid transparent;
  transition: all 0.2s ease;
}

.social__link-img {
  max-width: 26px;
  max-height: 26px;

  margin-bottom: 12px;
}

.social__link-item-info {
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

.social__link-item-title {
  margin-bottom: 4px;

  font-size: 10px;
}
.social__link-item-subtitle {
  font-size: 12px;
  font-weight: 700;
}
