@import "../abstracts/variables";
@import "../abstracts/mixins";

.social {
  @include flex-center;

  padding: 50px 0;
  .container {
    @include flex-center;

    width: 80vw;
    .social__link-list {
      @include flex($gap: 1rem);

      .social__link-item {
        @include wh($width: 14rem, $height: 10rem);

        transition: all 0.2s ease;

        &:hover .social__link {
          border: 0.3rem solid $white;

          transition: all 0.2s ease;
        }
        &#facebook {
          background-color: $pale-blue;
        }

        &#x {
          background-color: $light-blue;
        }

        &#youtube {
          background-color: $red;
        }

        &#instagram {
          background: $instagram-gradient;
        }

        &#tiktok {
          background-color: $black;
        }

        &#spotify {
          background-color: $green;
        }

        .social__link {
          @include grid($justify: space-between, $align: center);
          padding: 1rem;
          @include wh-100;

          border: 0.3rem solid transparent;
          transition: all 0.2s ease;

          .social__link-img {
            @include square($max-size: 2.6rem);

            margin-bottom: 1.2rem;
          }
          .social__link-item-info {
            font-weight: 500;
            line-height: 1.1;
            color: $white;
            .social__link-item-title {
              margin-bottom: 0.2rem;
              font-size: 1rem;
            }
            .social__link-item-subtitle {
              font-size: 1.2rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
