.standings {
  min-height: 100vh;

  .container {
    display: block;
    margin: 50px auto;
    width: 75vw;

    border-radius: 10px;
    background-color: #fff;

    .standings-selector___container {
      display: flex;
      padding: 40px 40px 0;
      justify-content: space-between;
      align-items: center;

      .league__selector {
        width: 250px;
        position: relative;

        color: #fff;

        .league__dropdown {
          position: relative;
          top: 0;
          display: block;
          cursor: pointer;
          z-index: 10;

          .dropdown__selected {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            padding: 8px 20px;

            border-radius: 12px;
            background-color: #fff;

            &:hover {
              background-color: #f1f1f1;
            }

            .standings-competition__img {
              margin: 0 auto;
              max-width: 120px;
              max-height: 60px;
            }

            .dropdown__arrow {
              font-size: 12px;
              rotate: 90deg;

              color: #000;

              &.active {
                rotate: 0deg;
              }
            }

            &.active {
              border-radius: 12px 12px 0 0;
            }
          }

          .dropdown__options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 0 0 12px 12px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            min-height: fit-content;
            max-height: 500px;
            overflow-y: auto;

            .dropdown__option {
              display: grid;
              align-items: center;
              justify-content: center;
              height: 80px;
              padding: 4px 8px;
              color: #141e5e;

              transition: all 0.2s ease;

              &:hover {
                background-color: #f1f1f1;
              }

              &.active {
                transition: all 0.2s ease;

                background-color: #f1f1f1;
                font-weight: bold;
              }

              .standings-competition__img {
                margin: 0 auto;
                max-width: 120px;
                max-height: 50px;
              }

              .standings-competition__title {
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
                text-align: center;
              }
            }
          }
        }
      }

      .season__selector {
        position: relative;
        margin-bottom: 10px;

        color: #fff;

        .season__dropdown {
          position: relative;
          top: 0;
          display: block;
          cursor: pointer;
          z-index: 10;

          .dropdown__selected {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            padding: 8px 20px;
            min-width: 100px;

            border-radius: 12px;
            background-color: #141e5e;

            &:hover {
              background-color: #152277;
            }

            .dropdown__arrow {
              font-size: 12px;
              rotate: 90deg;

              &.active {
                rotate: 0deg;
              }
            }

            &.active {
              border-radius: 12px 12px 0 0;
            }
          }

          .dropdown__options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #141e5e;
            border: 1px solid #ddd;
            border-radius: 0 0 12px 12px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-height: 200px;
            overflow-y: auto;

            .dropdown__option {
              padding: 8px 15px;

              transition: all 0.2s ease;

              &:hover {
                background-color: #152277;
              }

              &.active {
                transition: all 0.2s ease;

                color: #edc831;
                font-weight: bold;
              }
            }
          }
        }
      }

      .standings__info {
        font-family: "Nunito";
        color: $dark-blue;

        .standings-competition__info {
          font-weight: 600;
          font-size: 18px;
        }

        .standings-date__update {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .round-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      margin: 8px auto;

      .round-btn {
        cursor: pointer;
        border: none;
        border-radius: 16px;
        padding: 6px 18px;
        background-color: #141e5e;
        color: #fff;

        transition: all 0.1s ease;

        &:hover {
          background-color: #0018b4;

          transition: all 0.1s ease;
        }

        &.active {
          background-color: #9b0041;

          transition: all 0.1s ease;
        }
      }
    }

    .table__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 25px 40px 40px 40px;

      .groups-container {
        width: 100%;

        .group-table {
        }

        .group-title {
          padding: 18px 0 0 16px;
          color: #141e5e;
        }
      }

      .standings__table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        .standings-table__head {
          height: 30px;
          text-align: center;

          color: #141e5e;
          font-size: 14px;
          font-weight: 700;

          .table-head__row {
            position: relative;
            width: 100%;
            .table-head__item {
              &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: linear-gradient(
                  270deg,
                  #9b0041 0,
                  #9b0041 49%,
                  #0018b4 51%,
                  #0018b4
                );
              }
            }
          }
        }
      }
      .playoff-matches {
        display: block;
        width: 100%;
        // align-content: center;

        &__title {
          text-align: center;
          padding: 0 0 10px 0;
          color: #0b0b0b;
        }

        .playoff-matches__container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 16px 12px;

          .playoff-couple {
            flex: 0 0 calc(50% - 6px);

            padding: 8px;
            border-radius: 14px;
            background-color: #f5f5f5;
            border: 2px solid #e2e2e2;

            .playoff-couple__header {
              display: flex;
              justify-content: space-between;

              margin-bottom: 15px;
              padding-bottom: 8px;
              align-items: center;
              text-align: center;
              gap: 15px;
              border-bottom: 1px solid #e2e2e2;

              .team-with-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                width: 208px;

                .team-logo {
                  max-width: 46px;
                  max-height: 46px;
                }

                .team-title {
                  color: #141e5e;
                  font-size: 18px;
                  font-weight: 700;
                  letter-spacing: -0.02em;
                }
              }
              .score-container {
                width: 120px;
                line-height: 1;

                .aggregate-score {
                  font-size: 20px;
                  font-weight: 800;
                  color: #141e5e;
                }
                .score-info {
                  font-size: 16px;
                  font-weight: 500;
                  color: #757575;
                }
              }
            }

            .playoff-matches-list {
              display: grid;
              gap: 8px;
            }
          }
        }
      }
    }
  }
}
