.tournaments {
  .container {
    display: block;
    margin: 50px auto;
    padding: 24px 12px 36px;
    width: 80vw;
    min-height: 100vh;

    border-radius: 10px;
    background-color: #fff;

    .table__container {
      padding: 6px;
      margin-bottom: 24px;

      border: 2px solid #c9c9c9;
      border-radius: 6px;
      box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    }

    .group-stage__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 4px;
    }
  }
}
