@import "../abstracts/variables";

.tournaments {
  min-height: 100vh;

  .container {
    margin: 5rem auto;
    padding: 2.4rem 1.2rem 3.6rem;
    width: $container-width;

    border-radius: 10px;
    background-color: $white;

    .table__container {
      padding: 6px;
      margin-bottom: 24px;

      border: 2px solid #c9c9c9;
      border-radius: 6px;
      box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    }

    .group-stage__title {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0.4rem;
    }
  }
}
