@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.lineup__item {
  @include flex-center($gap: 1rem);
  width: 100%;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid $border-grey;

  font-family: $font-secondary;

  .lineup-player__number {
    @include flex-center;

    font-family: $number;
    line-height: 0.64;
    min-width: 3rem;
    font-weight: 400;
    font-size: 4.8rem;
    color: $yellow;
  }
  .lineup-player-img__container {
    @include flex-center;
    @include square($size: 3.2rem);

    overflow: hidden;
    background-color: $purple;
    border-radius: 50%;

    .lineup-player__img {
      @include square($size: 3rem);
    }
  }
  .luneup-player__info {
    @include grid($gap: 0.5rem);

    .lineup-player__name {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .lineup-player__position {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .player-action__list {
    @include flex($justify: flex-end, $align: center, $gap: 0.6rem);
    margin-left: auto;
    gap: 6px;
  }
}
