.main__news {
  display: block;
  min-height: 100vh;
  margin-bottom: 50px;
  background-image: url(./../../assets/img/news_bg.webp);
}

.main__title {
  padding: 50px 0;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}

.main__news-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: 1350px;
  height: 550px;
}


