@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.countdown {
  @include flex($justify: flex-start, $align: center, $gap: 1.2rem);
  width: 108rem;
  margin: 0 auto;
  padding-bottom: 1.8rem;
  text-align: start;

  font-family: $number;
  line-height: 0.64;
}

.title {
  font-size: 4.8rem;
  font-style: italic;
}

.info {
  @include flex($justify: center, $align: center, $gap: 1.6rem);
}

.info__item {
  @include flex($justify: center, $align: center, $direction: column);
  transform: translateY(0.8rem);
}

.value {
  font-size: 5.6rem;
}

.subtitle {
  font-size: 2.6rem;
}
