.title-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;

  overflow: hidden;
}

.title-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(18, 42, 168, 0) 0%,
      rgba(19, 39, 147, 0) 71%,
      rgb(20, 30, 94) 100%
    ),
    url(../../../public/img/titleBackground.png) no-repeat center;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

/* Дочерние элементы */
.title-background > * {
  position: relative;
  z-index: 2;
}

.title {
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-size: 3rem;
  color: #ffffff;
}
