@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.home {
}

.container {
  display: flex;
  flex-direction: column;
  width: $container-width;
  margin: 0 auto;
  gap: 22px;

  @media (width <= 840px) {
    width: $container-width-medium;
  }

  @media (width <= 768px) {
    width: $container-width-mobile;
  }
}

// .containerLeft {
//   @include container-left;
//   gap: 22px;
// }
// .containerRight {
//   @include container-right;
//   justify-content: flex-start;
//   align-items: stretch;
//   gap: 22px;
// }
