@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.home {
}

.container {
  display: flex;
  width: $container-width;
  margin: 0 auto;
  gap: 22px;
}

.containerLeft {
  @include container-left;
  gap: 22px;
}
.containerRight {
  @include container-right;
  justify-content: flex-start;
  align-items: stretch;
  gap: 22px;
}
