@font-face {
  font-family: "Custom-fcb";
  src: url("../../fonts/fc-b-22/fc-barcelona-2022-rus.woff2") format("woff2"),
    url("../../fonts/fc-b-22/fc-barcelona-2022-rus.woff") format("woff"),
    url("../../fonts/fc-b-22/fc-barcelona-2022-rus.ttf") format("truetype");
}
