@import "./fonts";

$black: #232323;

$light-blue: #1faee9;
$pale-blue: #3b5998;
$blue: #0f2d7e;
$dark-blue: #141e5e;
$dark-blue-black: #191732;

$white: #fafafa;
$grey: #dadada;
$light-grey: #f0f0f0;
$dark-grey: #555555;
$border-grey: rgba(186, 186, 186, 0.831);

$yellow: #fdc52c;
$red: #c4302b;
$pomegranate: #bc1144;
$purple: #37345e;
$green: #1db954;

$container-width: 80%;
$container-width-medium: 90%;
$container-width-mobile: 95%;
$container-padding: 2.5rem 3rem 4rem;

$duration: 0.15s;

$font-primary: "Nunito", sans-serif;
$font-secondary: "Libre Franklin", sans-serif;
$font-accent: "Inter", sans-serif;
$score: Impact, sans-serif;
$number: "Custom-fcb", sans-serif;

$pomegranate-blue-gradient: linear-gradient(270deg, #9b0041 0, #9b0041 45%, #0018b4 55%, #0018b4);

$instagram-gradient:
  radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d);
