@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.club__news {
  @include flex;
  width: 100%;
  padding: 1.2rem;
  background-color: $white;
  border-radius: 14px;
}

.container {
  @include flex;
  width: 100%;
  margin: 0 auto;
}

.club__news-container {
  width: 100%;
  margin: 0 auto;
}

.section__news-title {
  margin-bottom: 0.8rem;

  text-align: center;
  font-family: monospace;
  font-size: 2.4rem;
  color: $black;
}

.club__news-list {
  // @include grid($justify: center, $gap: 2.5rem 2rem);
  // grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  display: flex;
  flex-flow: row wrap;
  // gap: 1.5rem 2rem;
  width: 100%;
}

@media (width <= 854px) {
  .club__news-list {
    // grid-template-columns: 1fr;
  }
}
