@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.club__news {
  @include flex;
  width: 100%;
}

.container {
  @include flex;
  width: $container-width;
  margin: 0 auto;
}

.club__news-container {
  margin: 0 auto;

  background-color: $dark-blue-black;
}

.section__news-title {
  margin-bottom: 5rem;

  text-align: center;
  font-family: monospace;
  font-size: 2.4rem;
  color: $white;
}

.club__news-list {
  @include grid($justify: center, $gap: 2.5rem 2rem);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;

  list-style: none;
}
