@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.tableItem {
  @include position($position: relative, $z-index: 10);
  height: 6rem;
  color: $dark-blue;
  border-bottom: 0.2rem solid $grey;

  &:nth-child(even) {
    background-color: $light-grey;
  }

  &::after {
    @include position($position: absolute, $left: 0, $bottom: 0);
    @include wh($width: 0.4rem, $height: 5.8rem);
    content: "";
    background: var(--row-accent-color, transparent);
  }

  .position {
    width: 5.3rem;
    font-size: 2.2rem;
    font-weight: 900;

    color: $dark-blue;
  }
  .team__—Åontainer {
    @include flex($justify: flex-start, $align: center, $gap: 0.8rem);

    margin-left: 1.5rem;
    height: 6rem;

    .team__img__container {
      @include flex-center;
      @include square($size: 5rem !important);

      .team__img {
        @include square($max-size: 4.5rem);
      }
    }

    .teamTitle {
      font-size: 2rem;
      font-weight: 800;
    }
  }

  .points {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .stats {
    width: 10rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
