@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.tableItem {
  border-bottom: 0.2rem solid $grey;
  box-shadow: inset 0.4rem 0 0 var(--row-accent-color, transparent);

  &:nth-child(even) {
    background-color: $light-grey;
  }
}

.position {
  width: 4.8rem;
  font-size: 2.2rem;
  font-weight: 900;

  color: $dark-blue;
}
.teamContainer {
  @include flex($justify: flex-start, $align: center, $gap: 0.8rem);

  margin-left: 1.5rem;
  height: 6rem;
}
.teamImgContainer {
  @include flex-center;
  @include square($size: 5rem);
}
.teamImg {
  @include square($max-size: 4.5rem);
}
.teamTitle {
  font-size: 2rem;
  font-weight: 800;
}

.stats {
  width: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.points {
  font-size: 1.8rem;
  font-weight: 900;
}
.hideMobile {
  display: table-cell;
}

@media (width <= 958px) {
  .position {
    width: 4rem;
    font-size: 1.8rem;
    font-weight: 800;
  }

  .teamContainer {
    margin-left: 0;
  }

  .teamTitle {
    font-size: 16px;
  }

  .teamImgContainer {
    width: 38px;
    height: 38px;
  }

  .teamImg {
    max-width: 38px;
    max-height: 38px;
  }

  .stats {
    font-size: 1.4rem;
  }

  .points {
    font-weight: 800;
  }
}

@media (width <= 880px) {
  .position {
    width: 2.5rem;
    font-size: 1.8rem;
  }

  .teamContainer {
    max-width: 25rem;
    gap: 0.4rem;
  }

  .teamTitle {
    font-size: 16px;
  }

  .teamImgContainer {
    width: 38px;
    height: 38px;
  }

  .teamImg {
    max-width: 38px;
    max-height: 38px;
  }

  .stats {
    width: 3.8rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .points {
    font-weight: 700;
  }
}
@media (width <= 840px) {
  .position {
    font-size: 1.6rem;
  }

  .teamTitle {
    font-size: 14px;
  }

  .teamImgContainer {
    width: 32px;
    height: 32px;
  }

  .teamImg {
    max-width: 32px;
    max-height: 32px;
  }

  .stats {
    width: 2.8rem;
  }
}
@media (width <= 600px) {
  .teamContainer {
    margin-right: 1.5rem;
  }

  .stats {
    width: 6rem;
  }
  .points {
    width: 2.2rem;
  }
}
