.tableItem {
  position: relative;
  height: 60px;
  color: #141e5e;
  border-bottom: 2px solid #e2e2e2;
  z-index: 10;

  &:nth-child(even) {
    background-color: #f5f5f5;
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 58px;
    content: "";
    background: var(--row-accent-color, transparent);
  }

  .position {
    width: 60px;
    font-size: 22px;
    font-weight: 900;

    color: #141e5e;
  }
  .team__—Åontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    gap: 8px;
    height: 60px;

    .team__img__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px !important;
      height: 50px !important;

      .team__img {
        max-width: 45px;
        max-height: 45px;
      }
    }

    .teamTitle {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .points {
    font-size: 18px;
    font-weight: 700;
  }

  .stats {
    width: 100px;
    font-size: 18px;
    font-weight: 500;
  }
}
