@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.tableItem {
  @include position($position: relative, $z-index: 10);
  height: 6rem;
  width: 100%;
  color: $dark-blue;
  border-bottom: 0.2rem solid $grey;

  &:nth-child(even) {
    background-color: $light-grey;
  }

  &::after {
    @include position($position: absolute, $left: 0, $bottom: 0);
    @include wh($width: 0.4rem, $height: 5.8rem);
    content: "";
    background: var(--row-accent-color, transparent);
  }
}

.position {
  width: 4.8rem;
  font-size: 2.2rem;
  font-weight: 900;

  color: $dark-blue;
}
.teamContainer {
  @include flex($justify: flex-start, $align: center, $gap: 0.8rem);

  margin-left: 1.5rem;
  height: 6rem;
}
.teamImgContainer {
  @include flex-center;
  @include square($size: 5rem);
}
.teamImg {
  @include square($max-size: 4.5rem);
}
.teamTitle {
  font-size: 2rem;
  font-weight: 800;
}
.points {
  font-size: 1.8rem;
  font-weight: 700;
}

.stats {
  width: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.hideMobile {
  display: table-cell;
}

@media (max-width: 958px) {
  .position {
    width: 4rem;
    font-size: 1.8rem;
    font-weight: 800;
  }

  .teamContainer {
    margin-left: 0;
  }

  .teamTitle {
    font-size: 16px;
  }

  .teamImgContainer {
    width: 38px;
    height: 38px;
  }

  .teamImg {
    max-width: 38px;
    max-height: 38px;
  }

  .points {
    font-size: 1.4rem;
  }

  .stats {
    font-size: 1.4rem;
  }
}

@media (max-width: 880px) {
  .position {
    width: 2.5rem;
    font-size: 1.8rem;
  }

  .teamTitle {
    font-size: 16px;
  }

  .teamImgContainer {
    width: 38px;
    height: 38px;
  }

  .teamImg {
    max-width: 38px;
    max-height: 38px;
  }

  .points {
    font-size: 1.4rem;
  }

  .stats {
    width: 2.8rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
@media (max-width: 840px) {
  .position {
    font-size: 1.6rem;
  }

  .teamTitle {
    font-size: 14px;
  }

  .teamImgContainer {
    width: 32px;
    height: 32px;
  }

  .teamImg {
    max-width: 32px;
    max-height: 32px;
  }

  .stats {
    width: 2.2rem;
  }
}
@media (max-width: 600px) {
  .hideMobile {
    display: none;
  }
}
