@import "./../../scss/variables";

.club__news {
  display: flex;
  width: 100%;
}

.container {
    display: flex;
    width: 1350px;
    margin: 0 auto;
  }
  
.club__news-container {
  margin: 0 auto;

  background-color: $dark-blue;
}

.section__news-title {
  margin-bottom: 50px;

  text-align: center;
  font-family: monospace;
  font-size: 24px;
  color: #fff;
}

.club__news-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 25px 20px;
  width: 100%;

  list-style: none;
}



