@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.team-info__list {
  @include grid($gap: 0.4rem);
  min-width: 20rem;
  height: fit-content;

  .team-info-list__item {
    @include flex($align: center, $gap: 0.8rem);
    white-space: nowrap;

    .action__player {
      text-align: right;
      font-size: 1.8rem;
    }
  }
}
