.tableWrapper {
  width: 100%;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  cursor: default;
  user-select: none;
}
.table__header {
  position: relative;
  text-align: center;

  color: #141e5e;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: linear-gradient(270deg, #9b0041 0%, #9b0041 49%, #0018b4 51%, #0018b4 100%);
  }
}
.table__header-row {
  width: 100%;
}
.header__item {
  padding-bottom: 4px;
}

@media (width <= 840px) {
  .stats {
    width: 2.8rem;
  }
}

@media (width <= 600px) {
  .hideMobile {
    display: none;
  }
}
