.tableWrapper {
  width: 100%;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  cursor: default;
  user-select: none;
}
.table__header {
  text-align: center;

  color: #141e5e;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}
.table__header-row {
  position: relative;
  width: 100%;
}
.header__item {
  padding-bottom: 4px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, #9b0041 0, #9b0041 49%, #0018b4 51%, #0018b4);
  }
}
