@import "./libs/normalize";

@import "./components/first-team-content";
@import "./components/footer";
@import "./components/header";
@import "../components/ClubNews/ClubNews.module.scss";
@import "./components/partners";
@import "./components/player-page";
@import "./components/playerItem";
@import "../components/MainNews/MainNews.module.scss";
@import "./components/schedule";
@import "./components/section-schedule";
@import "./components/social";

html {
  background-color: $dark-blue;
}

main {
  margin-top: 55px;
  width: 100%;
}
