@import "./libs/normalize";

@import "./components/first-team-content";
@import "./components/footer";
@import "./components/header";
@import "./components/icons";
@import "./components/logo";
@import "../components/ClubNews/ClubNews.module.scss";
@import "./components/mobile-nav";
@import "./components/nav-icon";
@import "./components/nav";
@import "./components/partners";
@import "./components/player-info";
@import "./components/player-page";
@import "./components/player";
@import "../components/MainNews/MainNews.module.scss";
@import "./components/section-schedule";
@import "./components/titles";
@import "./components/social";

html {
  background-color: $dark-blue;
}

main {
  margin-top: 55px;
  width: 100%;
}
