@import "./libs/normalize";
@import "./abstracts/variables";
@import "./abstracts/fonts";

@import "./components/footer";
@import "./components/header";
@import "./components/matches";
@import "./components/news";
@import "./components/news-page";
@import "./components/partners";
@import "./components/player-item";
@import "./components/player-page";
@import "./components/players";
@import "./components/social";
@import "./components/tournaments";

html {
  // filter: brightness(0.75);

  font-size: 10px;
  font-family: $font-primary;
  background-color: $dark-blue-black;
}

body {
  font-size: inherit;

  &.menu-open {
    overflow: hidden;
  }
}

main {
  font-size: inherit;
  margin-top: 65px;
  width: 100%;
}
