@import "./libs/normalize";

@import "./components/footer";
@import "./components/header";
@import "./components/match-page";
@import "./components/matches";
@import "./components/news";
@import "./components/partners";
@import "./components/player-item";
@import "./components/player-page";
@import "./components/players";
@import "./components/section-schedule";
@import "./components/social";
@import "./components/standings";
@import "./components/tournaments";

html {
  filter: brightness(0.75);

  font-family: "Nunito";
  background-color: $dark-blue;
}

main {
  margin-top: 55px;
  width: 100%;
}
