@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.round-selector {
  @include flex-center;
  margin: 0 auto 2.6rem;
  width: 19.08rem;

  border: 0.2rem solid $dark-blue;
  border-radius: 2.6rem;
  background-color: $grey;
}

.selector__item {
  padding: 0.8rem 1.2rem;

  font-size: 1.6rem;
  color: $blue;
  border-radius: 2.6rem;
  cursor: pointer;

  transition: all 0.3s ease;

  &.active {
    background-color: $blue;
    color: $white;

    transition: all 0.3s ease;
  }
}
