.playoff {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;

  gap: 4px;
}

.round__container {
  position: relative;
  display: grid;
  gap: 22px;
  height: 100%;
}

.playoff__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.round__couple {
  display: block;
  align-content: center;

  .couple {
  }

  &:first-of-type {
    margin-top: 60px;
  }
}

.noMatches {
  margin-top: 60px;
}
