@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/fonts";

.playoff {
  // @include grid-center;
  // @include template-columns-auto-fit(29.6rem);

  // gap: 0.8rem;

  display: flex;
  justify-content: center;
  gap: 0.8rem;

  width: max-content;
  min-width: 100%;

  overflow-x: auto;
  padding-bottom: 1rem;

  -webkit-overflow-scrolling: touch;
}

.round__container {
  // @include position($position: relative);
  // @include grid($gap: 2rem);

  // height: 100%;
  position: relative;
  width: 29.6rem;
  flex: 0 0 auto;

  display: grid;
  gap: 2rem;
}

.playoff__title {
  @include position($position: absolute, $top: 0, $left: 50%, $transform: translateX(-50%));

  color: $blue;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.round__couple {
  align-content: center;

  .couple {
  }

  &:first-of-type {
    margin-top: 6rem;
  }
}

.noMatches {
  margin-top: 6rem;
}
