.sponsors {
  width: 100%;

  .slider__container {
    margin: 50px auto;
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider__track {
      display: flex;

      .slide {
        flex: 0 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide__link {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .slide__img {
          max-width: 220px;
          max-height: 60px;
        }
      }
    }
  }
}
