@import "../../scss/abstracts/mixins";

.sponsors {
  width: 100%;

  .slider__container {
    position: relative;
    margin: 5rem auto;
    width: 100%;
    overflow: hidden;

    .slider__track {
      @include flex;

      .slide {
        @include flex-center;
        flex: 0 0 14%;

        .slide__link {
          @include flex-center;
        }
        .slide__img {
          @include wh($max-width: 22rem, $max-height: 6rem);
        }
      }
    }
  }
}
